.css-section{
  overflow: hidden;
}
.Css-Card{  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width:  auto;
  height: auto;
  max-width: 900px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  border-radius: 10px;
  left: 300px;

}
@media screen and (max-width: 1100) {
  .Css-Card{
      position: static;
  }
}
.Css-Card-header{
  font-size: 25px;
  padding: 5px 5px;
}

.css-section-text{
  padding: 30px 0 0 0;
  position: relative;   
  text-align: center;
}


@media screen and (max-width: 1500) {
  .css-section-text{
     position: static;
  }
}