* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  
}
.Html-container {

background-color: black;
color: white;
 
}


.hpopup > button {
  background-color: rgb(132, 223, 132);
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}
.popup-text {
  color: black;
}


.herosection-container {
  height: 30vh auto;
  width: 100;
  background-color: rgb(121, 233, 121);
  color: black;
}

.herosection-container > h3{
  position: relative;
  left: 75%;
  top: 30px;
}

.text {
  position: relative;
  left: 150px;
  bottom: 140px;
}

@media screen and (max-width: 1234px) {
  .herosection-container > h3 {
    position: static;
    text-align: center;
  }
}

@media screen and (max-width: 1234px) {
  .text {
    position: static;
  }
}

.pane {
  width: 200%;
  height: 200%;

  display: flex;
  flex-direction: row;
}

.card-temple{

  position: relative;
  width: 37%;
  height: 40vh;
 min-width: auto;
  left: 550px;
  background-color: gray;
}

@media screen and (max-width: 1250px) {
    .card-temple{
       align-content: center;
       align-items: center;
    }
    
}

.Html-container >p{
    text-align: center;
}