*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}


.hpopup{
    
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    }
    .popup-text{
        color: black;
    }
    .Html-container{
       
        background-color: black;
        color: white;
        
    }
    .herosection-container{
        height: 30vh auto;
        width: 100;
        background-color:rgb(121, 233, 121);
        color: black;
    }
    
    .herosection-container > h3{
        position: relative;
        left: 75%;
        top: 30px;
        
        
    }
    
    .text{
        position: relative;
        left: 150px;
        bottom: 140px;
    }
    
    
    @media screen and (max-width: 1234px) {
        .herosection-container> h3{
          
            position: static;
            text-align: center;
    
        }
        
    }
    
    @media screen and (max-width: 1234px){
        .text{
            position: static;
            
        }
        
    }