*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}

.hpopup{
padding: 32px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
color: white;
}
.Html-container{
    background-color: black;
    
}
.herosection-container{
    height: 30vh;
    width: 100;
    background-color:rgb(121, 233, 121);
}